<div class="col-md-6 offset-md-3">
  <h1 class="text-center"> Registration </h1>
  <form ngNativeValidate (ngSubmit)="onSubmit()" action="#">

    <div class="form-group">
      <label> Login </label>
      <input type="text" class="form-control" id="login" name="login"
             [(ngModel)]="user.login" name="login" required #login="ngModel">
    </div>

    <div *ngIf="problems.has('loginError')" class="alert alert-warning">
      {{ problems.get('loginError') }}
    </div>
    <div *ngIf="problems.has('constraintLoginError')"
         class="alert alert-warning">
      {{ problems.get('constraintLoginError') }}
    </div>

    <div class="form-group">
      <label> First Name</label>
      <input type="text" class="form-control" id="firstName"
             [(ngModel)]="user.firstName" name="firstName" required>
    </div>

    <div *ngIf="problems.has('nameError')" class="alert alert-warning">
      {{ problems.get('nameError') }}
    </div>

    <div class="form-group">
      <label> Last Name</label>
      <input type="text" class="form-control" id="lastName"
             [(ngModel)]="user.lastName" name="lastName" required>
    </div>

    <div class="form-group">
      <label> Password</label>
      <input type="password" class="form-control" id="password"
             [(ngModel)]="user.password" name="password" required>
    </div>

    <div class="form-group">
      <label> Confirm Password </label>
      <input type="password" class="form-control" id="passwordConfirm"
             [(ngModel)]="user.passwordConfirm" name="passwordConfirm" required>
    </div>

    <div *ngIf="problems.has('passwordError')" class="alert alert-warning">
      {{ problems.get('passwordError') }}
    </div>

    <div class="form-group">
      <label> Email </label>
      <input type="email" class="form-control" id="email"
             [(ngModel)]="user.email" name="email" required>
    </div>

    <div *ngIf="problems.has('emailError')" class="alert alert-warning">
      {{ problems.get('emailError') }}
    </div>

    <div class="form-group">
      <label> Birthday</label>
      <input type="date" class="form-control" id="birthday"
             [(ngModel)]="user.birthday" name="birthday" required>
    </div>

    <div *ngIf="problems.has('dateError')" class="alert alert-warning">
      {{ problems.get('dateError') }}
    </div>

    <div class="form-group">
      <div class="g-recaptcha" data-sitekey="6LcuZasdAAAAANSxWR8DFuj0IT3dkgb0eEkehZed"></div>
    </div>
    <div *ngIf="problems.has('captchaError')" class="alert alert-warning">
      {{ problems.get('captchaError') }}
    </div>
    <div>
      <button type="submit" class="btn btn-success"
              style="margin: 0 auto; margin-top: 10px; width: 49.8%"> Register
      </button>
      <a href="/login" class="btn btn-outline-danger" style="width: 49%;
                    margin-top: 10px; margin-left: 5px">Cancel</a>
    </div>

  </form>
</div>
